#sr{
position:absolute;
top:150px;
left:300px;

}


#fr{
position:absolute;
top:150px;
right:280px;
}
#addclass_body{
position:absolute;
top:650px;
right:290px;
}
.box{
	padding:8px;
	margin:5px;
	position:relative;
	font-size:15;
}
.d{
	padding:8px;
	margin:5px;
	position:relative;
	font-size:15;
}
#sd{
	position:absolute;
	top:450px;
	left:300px;
}
#fd{
	position:absolute;
	top:450px;
	right:280px;
}
#sdelete{
	left:200px;
	
}
#fdelete{
	right:180px;
	
}
#su{
	position:absolute;
	left:300px;
	top:600px;
}
#fu{
	position:absolute;
	top:600px;
	right:280px;
}
#view{
	text-align:center;
}
#logout{
	margin-left:1020px;
}